@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    box-sizing: border-box;
    margin: 0%;
    
}
.card img{
    width: 50vw;
    margin: auto;
    height: 780px;
}
.hiper-pa{
    font-family:"Patrick Hand";
    text-decoration: none;
    font-weight: 900;
    color: #ffffff !important;
    text-shadow:rgb(0, 0, 0)px 1px rgba(0, 0, 0, 0.13);
}
.hiper-pae{
    font-family:"Patrick Hand";
    text-decoration: none;
    font-weight: 900;
    color: #000000 !important;
    text-shadow:rgb(0, 0, 0)px 1px rgba(0, 0, 0, 0.13);
}
.btn-card{
    
    background-color: rgba(110, 49, 180, 0.548);
    border-radius: 30px !important;
}
.btn-card:hover{
    background-color: #875ed3 !important;
}
.card{
    border: none !important;
}
.btn{color: #875ed3;
    text-shadow: 2px 1px rgba(0, 0, 0, 0.13);

    color: hsl(0, 0%, 100%) !important;
}
.contentp{
    /*font-size: 4rem;*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.card-doctor{
    background-color: rgba(107, 44, 44, 0.753);
    padding: 100px;
    z-index: 1000;
}
.content-row{
    width: 100vw;
    display: flex;
}
.card-title a{
    font-weight: 600;
}
